.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#boardTitle{
    font-size: 50px;
}
.quadro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border: 5px solid #ccc;
    display: flex;  
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.status {
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
