body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: #ae0f0a; 
    font-size: 2.5em;
    background-color: #f0f0f0;
}
h2{
    color: #ae0f0a; 
    font-size: 2.0em;
    background-color: #f0f0f0;
}